<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field>
                <input id="username" type="text" matInput placeholder="Username" formControlName="username" required>
                <mat-error [hidden]="loginForm.get('username').touched || loginForm.get('username').dirty">
                Username is required
                </mat-error>
                </mat-form-field>
            </p><br>
            <p>
                <mat-form-field>
                <input id="password" type="password" matInput placeholder="Password" formControlName="password" required>
                <mat-error *ngIf="loginForm.get('password').touched || loginForm.get('password').dirty">
                   Password is required</mat-error>
                </mat-form-field>
            </p><br>
            <br>
            <div class="button">
                <button id= loginButton type="submit" mat-button  [disabled]="!loginForm.valid">Login</button>
            </div>
            <br>
            <div *ngIf="this.isLoginFailed">
                <mat-error>Unsuccessful Login due to error: {{errorMessage}}</mat-error>
            </div>    
        </form>
    </mat-card-content>
</mat-card>
