:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
.mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: rgb(235, 104, 104);
  }

  #loginButton {
    width: 100%;
    background-color: springgreen;
    display: flex;
    justify-content: center;
  }