<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Skill Matrix Application</span>
    <span><button mat-button class="text-white" routerLink="skillMatrix/home" *ngIf ="authService.isLoggedIn()">
      Profile</button></span> 
    <span><button mat-button class="text-white" routerLink="skillMatrix/dashboard" *ngIf ="authService.isLoggedIn() && authService.isManager()">
      Dashboard</button></span>
    <span class="fill-space"></span>
    <span><a  id="logOut" routerLink="" class="text-white" [ngClass]="{'hidden': !authService.isLoggedIn() }"
          (click)="logout()">
        Log out
    </a></span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
