/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fill-space {
    flex: 1 1 auto;
}

.hidden {
  display: none;
}

.text-white {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
}

#logOut{
    padding-right: 4em;
}
